<html>
  <head>
    <title>Miles Buffalo Gilbert</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="http://use.typekit.com/dlw2ogq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <script src="/javascripts/moment.min.js"></script>

    <script src="/javascripts/main.js"></script>

    <script type="text/template" id="item-template">
      <div class ="mesa-item <%= modifier %>" id=<%= id %>>
        <h4><%= date %></h4>
        <img src=<%= name %> />
      </div>
    </script>

  </head>
  <body>
    <noscript>
      <a href="/nojs">No javascript?</a>
    </noscript>

    <h1>Miles Buffalo Gilbert</h1>
    <h2>May 25, 2011</h2>

    <div id="item-container">

    </div>
  </body>
</html>
