body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}


#item-container{float:left; width: 600px;}

.mesa-item{float: left; width: 100%; clear: both; opacity: 0;}

.mesa-item.two-up, .mesa-item.two-up + .normal {clear: none; width: 48%; margin-right: 2%;}

.mesa-item.two-up + .normal { margin-left: 2%; margin-right: 0; }

.mesa-item img {width: 100%; height: auto;}
